<div class="col-md-12">
  <div class="card">
    <div class="header">
      <h4 class="title">Новая Услуга для <%= @category.title %></h4>
    </div>
    <div class="content">
      <%= form_for([:admin, @category, @category.units.build]) do |f| %>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, :class => 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :price %>
            <%= f.text_field :price, :class => 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :tooltip %>
            <%= f.text_field :tooltip, :class => 'form-control' %>
          </div>
          <%= f.submit 'Сохранить', :class => 'btn btn-info btn-fill pull-right' %>
          <div class="clearfix"></div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
