<header class="bird-box">
  <div class="back-bird"></div>
  <div class="logo">
    <h1>Выездной ремонт<br/> вашего iPhone и iPad</h1>
    <ul class="advantages">
      <li>
        <%= image_tag('adv-clock.svg') %>
        <p>Прибытие мастера в течение<br/> <b>1 часа</b> в любую точку Киева</p>
      </li>
      <li>
        <%= image_tag('adv-screwdriver.svg') %>
        <p>Квалифицированный ремонт<br /> при вас за <b>20 минут</b></p>
      </li>
      <li>
        <%= image_tag('adv-gear.svg') %>
        <p>Комплектующие оригинального<br/>качества с <b>гарантией</b></p>
      </li>
    </ul>
    <a href="#myAnchor" rel="" id="anchor1" class="anchorLink">
      <div class="mouse-down">
        <div class="mouse">
          <%= image_tag('mouse.svg') %>
          <span id="mouse-wheel" class="wheel-mouse animate">
            <%= image_tag('mouse-wheel.svg') %>
          </span>
        </div>
        <br>Узнать стоимость ремонта
      </div>
    </a>
  </div>
  <div class="fore-bird"></div>
</header>