<%= form_for [:admin, @post] do |f| %>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <%= f.label :image %><br>
                <%= f.file_field :image %>
            </div>
            <div class="form-group">
                <%= f.label :title %><br>
                <%= f.text_field :title, :class => 'form-control' %>
            </div>
            <div class="form-group">
                <%= f.label :link %><br>
                <%= f.text_field :link, :class => 'form-control' %>
            </div> 
            <div class="form-group">
                <%= f.label :description %><br>
                <%= f.text_area :description, :class => 'form-control', rows: 10 %>
            </div> 
            <hr>
            <h3>SEO BLOCK</h3>
            <div class="form-group">
                <%= f.label :seo_title %>
                <%= f.text_field :seo_title, :class => 'form-control' %>
            </div>
            <div class="form-group">
                <%= f.label :seo_keywords %>
                <%= f.text_field :seo_keywords, :class => 'form-control' %>
            </div>
            <div class="form-group">
                <%= f.label :seo_description %>
                <%= f.text_area :seo_description, :class => 'form-control', rows: 3 %>
            </div>                                                                     
        </div>
    </div>
    <%= f.submit 'Сохранить', :class => 'btn btn-info btn-fill pull-right' %>
    <div class="clearfix"></div>
<% end %>