<% title "новости из мира Apple и бесплатное приложение дня" %>
<% meta_description "Все про iPhone, iPad и Mac. Новости Apple, обзоры программ, игр. "  %>
<section class="content">
  <article>
  <p id="intro">
    RefitMe | Новости из мира Apple
    <br/>
    <span>
      Все про iPhone, iPad и Mac. Новости Apple, обзоры программ, игр. 
    </span>
  </p>
    <div class="clothes-pics">  
      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3", id="sidebar">
<div id="posts">
  <% @posts.each do |post| %>
    <li class="post is-showing">
      <div class="post_image">
        <%= link_to((image_tag(post.image.url(:small), alt: "RefitMe | #{post.title}".html_safe)), post) %>
      </div>
      <div class="post_content">
        <div class="title">
          <h3>
            <%= link_to truncate(post.title, :length => 39), post %>
          </h3>
        </div>
        <div class="data clearfix">
          <p class="username">
            Shared by
            <%= post.user.username + " about " + time_ago_in_words(post.created_at)%>
          </p>
          <p class="buttons">
            <span>
              <i class="fa fa-comments-o"></i>
              <%= post.comments.count %>
            </span>
            <span>
              <i class="fa fa-thumbs-o-up"></i>
              <%= post.get_likes.size %>
            </span>
          </p>
        </div>
      </div>
    </li>
  <% end %>
   </ul>
    </div>
</div>
<%= paginate @posts %>
</article>
</section>
