<% title "#{@post.title}".html_safe %>
<% meta_description "#{@post.title}".html_safe  %>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7745861961039238",
    enable_page_level_ads: true
  });
</script>
<section class="content2">
  <article>
<div id="post_show">
  <h1>
    <%= @post.title %>
  </h1>
  <p class="username">
    Shared by
    <%= @post.user.username %>
    about
    <%= time_ago_in_words(@post.created_at) %>
  </p>
  <div class="clearfix">
    <div class="post_image_description">
      <%= image_tag(@post.image.url(:medium), alt: "RefitMe | #{@post.title}".html_safe) %>
      <div class="description">
        <%= simple_format(@post.description, {}, :sanitize => false) %>
      </div>
    </div>
    <div class="post_data">
      <%= link_to "Visit Link", @post.link, class: "btn btn--m", :target => "_blank" %>
      <%= link_to like_post_path(@post), method: :get, class: "data" do %>
        <i class="fa fa-thumbs-o-up"></i>
        <%= pluralize(@post.get_upvotes.size, "Like") %>
      <% end %>
      <%= link_to dislike_post_path(@post), method: :get, class: "data" do %>
        <i class="fa fa-thumbs-o-down"></i>
        <%= pluralize(@post.get_downvotes.size, "Dislike") %>
      <% end %>
      <p class="data">
        <i class="fa fa-comments-o"></i>
        <%= pluralize(@post.comments.count, "Comment") %>
      </p>
      <% if @post.user == current_user %>
        <%= link_to "Edit", edit_post_path(@post), class: "data" %>
        <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "data" %>
      <% end %>
    </div>
    <div id="random_post">
      
      <div class="post">
        <div class="post_image">
          <%= link_to((image_tag(@random_post.image.url(:medium), alt: "RefitMe | #{@random_post.title}".html_safe)), post_path(@random_post))%>

        </div>
        <div class="post_content">
          <div class="title">
            <h2>
              <%= link_to @random_post.title, post_path(@random_post) %>
            </h2>
          </div>
          <div class="data clearfix">
            <p class="username">
              Shared by
              <%= @random_post.user.username %>
            </p>
            <p class="buttons">
              <span>
                <i class="fa fa-comments-o"></i>
                <%= @random_post.comments.count %>
              </span>
              <span>
                <i class="fa fa-thumbs-o-up"></i>
                <%= @random_post.get_likes.size %>
              </span>
            </p>
          </div>
        </div>

      </div>
      <br>
        <div class ="post">
        </div>
    </div>
  </div>
</div>
<div id="comments">
  <h2 class="comment_count">
    <%= pluralize(@post.comments.count, "Comment") %>
  </h2>
  <% @comments.each do |comment| %>
    <div class="comment">
      <p class="username">
        <%= comment.user.username %>
      </p>
      <p class="content">
        <%= comment.content %>
      </p>
    </div>
  <% end %>
  <%= render "comments/form" %>
</div>
</article>
</section>
<footer>
      <div class="row footer-stuff">
        <div class="small-2 large-2 columns"><strong>FIND US ON:</strong>
          <ul>
            <li><%= link_to '<i class="fa fa-twitter"></i>  Twitter'.html_safe, "https://twitter.com/Refit_me", :target => "_blank" %></li>
            <li><%= link_to '<i class="fa fa-facebook-square"></i>  Facebook'.html_safe, "https://www.facebook.com/groups/1571610346392612/", :target => "_blank" %></li>
            <li><%= link_to '<i class="fa fa-vk"></i>  Вконтакте'.html_safe, "http://vk.com/refitme", :target => "_blank" %></li>
            <li><%= link_to '<i class="fa fa-instagram"></i>  Instagram'.html_safe, "https://instagram.com/refitme_inc/", :target => "_blank" %></li>
          </ul>
        </div>
        <div class="small-2 large-2 columns"><br>
          <ul>
            <li><%= link_to '<i class="fa fa-google-plus"></i></i>  Google +'.html_safe, "https://plus.google.com/communities/101878631254407544893", :target => "_blank" %></li>
            <li><%= link_to '<i class="fa fa-youtube"></i>  YouTube'.html_safe, "https://www.youtube.com/channel/UCPjOeF45UJq-EoxLOE2BXBA", :target => "_blank" %></li>
            <li><%= link_to '<i class="fa fa-flickr"></i>  flickr'.html_safe, "https://www.flickr.com/photos/133393602@N06", :target => "_blank" %></li>
            <li><%= link_to '<i class="fa fa-pinterest"></i>  Pinterest'.html_safe, "https://www.pinterest.com/refitme/", :target => "_blank" %></li>
            
          </ul>
        </div>
        <div class="small-6 large-6 columns">
          <form class="row">
            <div class="small-6 large-6 columns">
            </div>
            <div class="small-6 large-6 columns"> 
               <address>
                    <strong>Refitme, Inc.</strong><br>
                    <abbr title="Phone"></abbr>
                      <%= link_to '<i class="fa fa-phone"></i> (063) 603 51 87'.html_safe, "tel:+380636035187" %><br>
                    <abbr title="Phone"></abbr> 
                    <%= link_to '<i class="fa fa-phone"></i> (066) 272 48 78'.html_safe, "tel:+380662724878" %>
                  </address>

                  <address>
                    <strong>Наш e-mail:</strong><br>
                    <a href="mailto:support@refitme.com"><i class="fa fa-paper-plane"></i> support@refitme.com</a>
                  </address>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
      <div class="small-4 large-4 columns">
      <p></p>
      </div>
      <div class="small-5 large-5 columns">
      <div class="malaimes">
      <h6>©<%= Time.now.year %> RefitMe, Designed and built by malaimés ·</h6>
      </div>
      </div>
      <div class="small-3 large-3 columns">
      <p></p>
      </div>
      </div>
    </footer>