<% meta_description "Срочный выездной ремонт смартфонов Apple iPhone Киев с гарантией и оригинальными запчастями на выгодных условиях. А так же акции и скидки."  %>
<% title "выездной ремонт iPhone Киев" %>
<header class="bird-box">
      <div class="back-bird"></div>
      <div class="logo"></div>
      <div class="fore-bird"></div>
</header>

<div data-magellan-expedition="fixed">
  <dl class="sub-nav">
    <dd data-magellan-arrival="how_we_work"><a href="#how_we_work">Как мы работаем</a></dd>
    <dd data-magellan-arrival="phone"><a href="#phone">Цены на ремонт</a></dd>
    <dd data-magellan-arrival="reason"><a href="#reason">Почему мы</a></dd>
    <dd data-magellan-arrival="map"><a href="#map">Мы на карте</a></dd>
    
  </dl>
</div>

<section class="content">
  <article>


<div class="memo" data-magellan-destination="how_we_work">
<a name="how_we_work"></a>
  <section id="main-content">
    <div class="row centered-text">
      <div class="large-12 columns">
          <div class="quote">
        <h1>Как работает команда RefitMe?</h1><h4 class="subheader">Есть только один способ проделать большую работу — полюбить ее. - Steve Jobs</h4>
        </div>
      </div>
    </div>
    <div class="row centered-text">
      <div class="medium-3 large-3 columns supporticons">
        <%= image_tag('https://s3-us-west-2.amazonaws.com/myrefitme/friends/avatars/000/000/016/medium/1.png', alt: "Набирайте наш номер")%>
        <h3>Набирайте наш номер</h3>
       

      </div>
       <div class="medium-3 large-3 columns supporticons">
        <%= image_tag('https://s3-us-west-2.amazonaws.com/myrefitme/friends/avatars/000/000/017/medium/2.png', alt: "Согласуйте удобное время")%>
        <h3>Согласуйте удобное время</h3></a>

      </div>
      <div class="medium-3 large-3 columns supporticons">
        <%= image_tag('https://s3-us-west-2.amazonaws.com/myrefitme/friends/avatars/000/000/018/medium/3.png', alt: "Согласуйте удобное место")%>
        <h3>Согласуйте удобное место</h3></a>
      </div>
      <div class="medium-3 large-3 columns supporticons">
        <%= image_tag('https://s3-us-west-2.amazonaws.com/myrefitme/friends/avatars/000/000/019/medium/4.png', alt: "Мы вернем жизнь вашему девайсу")%>
        <h3>Мы вернем <i class="fa fa-heartbeat"></i> вашему девайсу</h3></a>
      </div>
    </div>
  </section>
</div>   
<hr>
<div class="memo" data-magellan-destination="phone">
<a name="phone"></a>
<div class="quote">
 <h2>Выберите ваш девайс:</h2><h4 class="subheader">Детали исключительно оригинального качества.</h4></div>
      </div>
    <div class="clothes-pics">  
      <ul class="small-block-grid-6", id="sidebar">
      <% for category in @categories %>
        <li class="post"><%= link_to image_tag(category.image, alt: "ремонт #{category.title} Киев".html_safe ), category_path(category), "data-reveal-id" => "myModal", remote: true, class: "image-category"%>
          <div class="figcaption">Прайс для <%= category.title %> </div>
        </li>
      <% end %>
      </ul>
    </div>
</div>


<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="row">
    <div class="small-12 large-12 columns">
      <div id="main"></div>
    </div>
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a> 
</div>

<div class="memo" data-magellan-destination="reason">
    <a name="reason"></a>

    <h1>Причины выбрать команду RefitMe </h1>
        <hr>
        <section id="main-content">
        <div class="quote2">
    <div class="row centered-text">
      <div class="large-12 columns">
                 
      </div>
    </div>
    <div class="row centered-text">
      <div class="medium-4 large-4 columns supporticons">
        <h3>Ремонт iPhone всего до 2 часов.</h3><h4>Ремонт iPhone на выезде выполняется в самые короткие сроки.</h4>
       

      </div>
       <div class="medium-4 large-4 columns supporticons">
        <h3>Выезд мастера на дом.
        </h3><h4>Вам не придется везти iPhone в сервис и тратить личное время.</h4>

      </div>
      <div class="medium-4 large-4 columns supporticons">
        <h3>Система скидок.</h3><h4>При условии ремонта или заказа акссесуаров, мы не оставим Вас без скидки.</h4>
      </div>
    </div>
     </div>
  </section>
       <section id="main-content">
        <div class="quote2">
    <div class="row centered-text">
      <div class="large-12 columns">
                 
      </div>
    </div>
    <div class="row centered-text">
      <div class="medium-4 large-4 columns supporticons">
      <h3></h3>
      </div>
       <div class="medium-4 large-4 columns supporticons">
        <h3>Аксессуары.
        </h3><h4>Большой выбор аксессуаров для всех девайсов компании Apple.</h4>

      </div>
      <div class="medium-4 large-4 columns supporticons">
        <h3></h3>
      </div>
    </div>
     </div>
    </section>
</div>

<div class="memo" data-magellan-destination="map">
<a name="map"></a>

<h1>Мы работаем по всему Киеву</h1>
        <hr>        <div class="quote2">
        <h4> Выезд мастера по Киеву бесплатный – мы не заставим Вас тратить драгоценное время на дорогу и ожидание в очереди (в среднем от 3 часов до 3 дней в обычных стационарных ремонтах).</h4>
                            </div>
        <div id="map-container">
          <div id="map-canvas">

          </div>
        </div>
</div>

</article>
</section>

<%if Rails.env == "production"%>
<!-- Callupper code -->
<script>
    (function ()
    {
    var config = {
        API_BASE: window.location.protocol + '//connect.callupper.com',
        PROJECT_NAME: 'Callupper',
    };

    if (typeof window[config.PROJECT_NAME] === 'undefined' && typeof CallPluginInitObject === 'undefined') {
        window['CallPluginInitObject'] = config;

        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = config.API_BASE + '/static/api.js';
        var x = document.getElementsByTagName('head')[0];
        x.appendChild(s);
    }
    else
        console.log(config.PROJECT_NAME + ' is already defined.');
})();
</script>
<!-- Callupper code end -->
<%end%>