<% title "ремонт iPhone и iPad Киев" %>
<% meta_tag :description, 'Срочный выездной ремонт смартфонов Apple iPhone в Киеве с гарантией и оригинальными запчастями на выгодных условиях. А так же акции и скидки.' %>
<% meta_tag :keywords, 'ремонт iphone, ремонт iphone киев, выездной ремонт iphone' %>


<%= render "categories/shared/header" %>

<section class="content">
  <a name="myAnchor" id="myAnchor"></a>
  <article>
    <%= render "categories/shared/devise" %>
    <%= render "categories/shared/prices" %>
    <hr>
    <%= render "categories/shared/works" %>
    <hr>
    <%= render "categories/shared/reason" %>
    <%= render "categories/shared/map" %>
  </article>
</section>

<%= render "categories/shared/callupper" %>
