<!DOCTYPE html>
<!-- Разметка с помощью микроданных, созданная Мастером разметки структурированных данных Google. -->
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name='yandex-verification' content='7dffa55e5ef08cf1' />
    <meta name="google-site-verification" content="NreeFCM9gdgoYXOdTZLCNXnIfg01CJ36bjbjhqJP7dU" />
    <title>Refitme - <%= yield(:title)%></title>
    <meta name="description" content="Срочный выездной ремонт смартфонов Apple iPhone в Киеве с гарантией и оригинальными запчастями на выгодных условиях. А так же акции и скидки." />
    <meta name="keywords" content="Refitme, Киев, Apple, ремонт, iPhone, время" />
    <%= stylesheet_link_tag    "application" %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Marck+Script|Open+Sans+Condensed:300|Open+Sans:400italic|Kurale&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
<%= render 'analytics' %>
     <div id="load_screen">
      <div id="loading">
        <div id="loader-wrapper">
          <div id="loader">     
          </div>
          <div class="loader-section section-left"> 
          </div>
          <div class="loader-section section-right"> 
          </div>
        </div>
      </div>
    </div>
  
    
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to image_tag('refit222.png'), root_path %></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> 
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if user_signed_in? %>

            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>

      <% else %>
        <li class="has-dropdown">
          <a href="#">Вход на сайт</a>
          <ul class="dropdown">
            <li><%= link_to '<i class="fa fa-user"></i> Вход'.html_safe, new_user_session_path %></li>
            <li><%= link_to '<i class="fa fa-users"></i> Регистрация'.html_safe, new_user_registration_path %> </li>     
          </ul>
        </li>
      <% end %>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><%= link_to "Ремонт iPhone", root_path %></li>
      <li><%= link_to "Новости и игры", posts_path %></li>
    </ul>
  </section>
</nav>

    <%= yield %>

  </body>
</html>
