<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name='yandex-verification' content='7dffa55e5ef08cf1' />
    <meta name="google-site-verification" content="NreeFCM9gdgoYXOdTZLCNXnIfg01CJ36bjbjhqJP7dU" />
    <title>Refitme - <%= yield(:title)%></title>
    <meta name="description" content="Срочный выездной ремонт смартфонов Apple iPhone в Киеве с гарантией и оригинальными запчастями на выгодных условиях. А так же акции и скидки." />
    <meta name="keywords" content="Refitme, Киев, Apple, ремонт, iPhone, время" />
    <%= stylesheet_link_tag    "application" %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Marck+Script|Open+Sans+Condensed:300|Open+Sans:400italic|Kurale&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", params[:controller] %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <%= render "layouts/preloader" %>
    <%= render "layouts/navbar" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
