<!DOCTYPE html>
<!-- Разметка с помощью микроданных, созданная Мастером разметки структурированных данных Google. -->
<html lang="ru">
  <head>
        <!-- Bootstrap core CSS     -->

    <%= stylesheet_link_tag    "admin/application" %>
    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= javascript_include_tag "admin/application"%>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
<body>

<div class="wrapper">


 <%= render "layouts/shared/admin_sidebar" %>
 <%= render "layouts/shared/admin_navbar" %>

    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>

    <% flash.each do |key, value| %>  
    <script type="text/javascript">
      $(document).ready(function(){
          $.notify({
              message: "<%= value %>"

            },{
                type: 'info',
                timer: 4000
            });

      });

  </script>
      <% end %>
<%= render "layouts/shared/admin_footer" %>


</div>



</body>
</html>
